# Python for Data Science Teaching Session 1: Data Manipulation

## Introduction

### Course Prerequisites

It is advised that course participants have completed WDSS's [Beginner's Python](http://education.wdss.io/beginner-python) course or equivalent including going through most of the additional notes on Pythonic programming. You should be able to get by if this is not the case, but you may want to brush up on the following notes:

- [Lists](https://education.wdss.io/beginners-python/session-four/) and [dictionaries](https://education.wdss.io/beginners-python/session-six/)
- [List comprehension](https://colab.research.google.com/github/warwickdatasciencesociety/beginners-python/blob/master/session-four/session_four_additional_content.ipynb) and [dictionary comprehension](https://colab.research.google.com/github/warwickdatasciencesociety/beginners-python/blob/master/session-four/session_six_additional_content.ipynb)
- [Truthiness and if-expressions](https://colab.research.google.com/github/warwickdatasciencesociety/beginners-python/blob/master/session-three/session_three_additional_content.ipynb)
- [String methods](https://colab.research.google.com/github/warwickdatasciencesociety/beginners-python/blob/master/session-three/session_two_additional_content.ipynb)
- [Importing modules and packages](https://education.wdss.io/beginners-python/session-eight/)

### Session Objectives

- Reading/writing data from/to files
- Exploring the structure and contents of a dataset
- Subsetting and filtering
- Mutating and summarising datasets

### Recommendations and Advice

Checkout [PEP8](https://www.python.org/dev/peps/pep-0008/) and use a [linter](https://jupyterlab-code-formatter.readthedocs.io/en/latest/index.html) if needed.

Google, Google, Google. Use [Stack Overflow](https://stackoverflow.com/) and the [pandas reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html) to find the answer you're after.

A warning: data-scientific Python is the wild-west. There are often many ways to achieve the same thing. Although this provides flexibility, it can cause confusion when learning. Don't be put off if it's not clear when and why to use a certain method over another. There might not even be a reason at all more than personal preference.

## Getting Started with pandas

### What is pandas?

Let's ask the team:

> pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

In short, pandas allows you to:
- Read/write data using a wide variety of formats
- Manipulate and transform data
- Combine data sources together (session 4)
- Perform basic analysis and visualisation

It is part of the [SciPy stack](https://www.scipy.org/stackspec.html), a collection of Python packages for scientific programming (closely related to data science).

Once installed (see [bonus session one](https://education.wdss.io/python-for-data-science/bonus-one)), you can import (using its usual alias of `pd`).

In [1]:
# Import pandas
import pandas as pd

### Importing CSVs

In this session, we'll be looking at the [wine quality](https://archive.ics.uci.edu/ml/datasets/wine+quality) dataset from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). You can download this directly from the site (we'll only be using the data for red wine), or find it on this session's [materials](https://education.wdss.io/python-for-data-science/session-one) on the course website.

CSV stands for comma-separated value, and are plain text files used to store tabular data, one observation per line, and with values separated by commas. E.g.

```
"Numeric Column", "Boolean Column", "Text Column"
4, True, "Cat"
7, False, "Dog"
6, True, "Elephant"
```

CSV files can also be separated by semi-colons. This is common in Europe where are comma is used instead of a decimal separator.

We read CSV files using the `read_csv` function from pandas. When the separating character is not a comma, we have to specify it using the `sep` parameter.

In [5]:
wine = pd.read_csv('data\winequality-red.csv', sep=';')

The `read_csv` function has a ridiculous number of possible parameters. Read the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) to learn more.

### Viewing a Dataframe's Structure

We can view the whole dataframe by typing it in a code cell.

In [8]:
# Print entire dataframe
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

There are various attributes of a pandas dataframe.

In [9]:
# Dimensions
wine.shape

(1599, 12)

In [12]:
# Number of columns
wine.shape[1]

12

In [13]:
# Column names
wine.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

We're not going to worry about what an `Index` is in this course. It often works the same as a list but can be converted if needed.

In [11]:
# Column names as list
wine.columns.values.tolist()

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In fact, there are many ways to do this (search [Stack Overflow](https://stackoverflow.com/questions/19482970/get-list-from-pandas-dataframe-column-headers) to find out) as there is with many tasks involving the SciPy stack, but this is the most performant.

In [16]:
# Row names (indexes)
wine.index
#list(wine.index)

RangeIndex(start=0, stop=1599, step=1)

In [17]:
# Column types
wine.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

### Exploring Dataframe Contents

We can obtain simple or more substantial summaries of the dataframe using a variety of methods.

In [21]:
# Top 5 rows
# Use brackets for methods
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [23]:
# Bottom 3 rows
wine.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [25]:
# Default random sample of 1
wine.sample()
# Random sample of 4 rows
wine.sample(4)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1020,11.3,0.36,0.66,2.4,0.123,3.0,8.0,0.99642,3.20,0.53,11.900000,6
1146,7.8,0.50,0.12,1.8,0.178,6.0,21.0,0.99600,3.28,0.87,9.800000,6
1439,7.3,0.67,0.02,2.2,0.072,31.0,92.0,0.99566,3.32,0.68,11.066667,6
664,12.1,0.40,0.52,2.0,0.092,15.0,54.0,1.00000,3.03,0.66,10.200000,5

As with `read_csv`, the `sample` method has many optional arguments for replacement, weights, and random state. We will only ever go through the most critical parameters in this course, so it is your job to read the documentation when you want to go further.

In [28]:
# First 2 rows of random sample of 3 columns

# To sample rows
wine.sample(3)
# To sample columns 
wine.sample(3, axis=1)
# Chain methods
wine.sample(3, axis=1).head(2)

   chlorides    pH  total sulfur dioxide
0      0.076  3.51                  34.0
1      0.098  3.20                  67.0

In [29]:
# Numerical summaries of columns
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

Also see `.info()` and `.count()` for similar functionality.

In [30]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [31]:
wine.count()

fixed acidity           1599
volatile acidity        1599
citric acid             1599
residual sugar          1599
chlorides               1599
free sulfur dioxide     1599
total sulfur dioxide    1599
density                 1599
pH                      1599
sulphates               1599
alcohol                 1599
quality                 1599
dtype: int64

## Subsetting and Filtering

### Subsetting Rows and Columns

Pandas has two main methods of subsetting a dataframe:

- `.loc`: label-based
- `.iloc`: integer-based (using zero-based indexing)

These both accept single values, lists/arrays and slices (and a few more—[read the docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)!)

For data frames we follow `.loc` and `.iloc` with a pair of square brackets, containing either one or two inputs. If one input is used, this subsets the rows. If two are used, they subset the rows and columns respectively.

A colon (`:`) can be used to include all rows in that dimension.

In [37]:
# 10th row of the dataset
wine.iloc[9]

fixed acidity             7.5000
volatile acidity          0.5000
citric acid               0.3600
residual sugar            6.1000
chlorides                 0.0710
free sulfur dioxide      17.0000
total sulfur dioxide    102.0000
density                   0.9978
pH                        3.3500
sulphates                 0.8000
alcohol                  10.5000
quality                   5.0000
Name: 9, dtype: float64

In [41]:
# 2nd to last column
wine.iloc[:, -2]

0        9.4
1        9.8
2        9.8
3        9.8
4        9.4
        ...
1594    10.5
1595    11.2
1596    11.0
1597    10.2
1598    11.0
Name: alcohol, Length: 1599, dtype: float64

In [39]:
# 4th row, 7th column
wine.iloc[3, 6]

60.0

In [43]:
# Column means
wine.describe().loc['mean']

fixed acidity            8.319637
volatile acidity         0.527821
citric acid              0.270976
residual sugar           2.538806
chlorides                0.087467
free sulfur dioxide     15.874922
total sulfur dioxide    46.467792
density                  0.996747
pH                       3.311113
sulphates                0.658149
alcohol                 10.422983
quality                  5.636023
Name: mean, dtype: float64

In [44]:
# Acidity markers for every 10th row
wine.iloc[::10].loc[:, ['fixed acidity', 'volatile acidity', 'citric acid', 'pH']]

      fixed acidity  volatile acidity  citric acid    pH
0               7.4             0.700         0.00  3.51
10              6.7             0.580         0.08  3.28
20              8.9             0.220         0.48  3.39
30              6.7             0.675         0.07  3.35
40              7.3             0.450         0.36  3.33
...             ...               ...          ...   ...
1550            7.1             0.680         0.00  3.45
1560            7.8             0.600         0.26  3.21
1570            6.4             0.360         0.53  3.37
1580            7.4             0.350         0.33  3.36
1590            6.3             0.550         0.15  3.32

[160 rows x 4 columns]

In [58]:
# a = initial value, b = final value, c = jump
#iloc[a:b:c]

Notice that when using a list to subset columns we obtain a dataframe in return. This holds even if the list has one element.

In [47]:
# 4th row as dataframe 
# List returns dataframe
wine.iloc[[3]]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,0.58,9.8,6

In [48]:
# (4, 2) element as dataframe
wine.iloc[[3],[1]]

   volatile acidity
3              0.28

Be careful, unlike with integer slices, labels slices include the final value

In [49]:
wine.loc[:, 'density':'quality']

      density    pH  sulphates  alcohol  quality
0     0.99780  3.51       0.56      9.4        5
1     0.99680  3.20       0.68      9.8        5
2     0.99700  3.26       0.65      9.8        5
3     0.99800  3.16       0.58      9.8        6
4     0.99780  3.51       0.56      9.4        5
...       ...   ...        ...      ...      ...
1594  0.99490  3.45       0.58     10.5        5
1595  0.99512  3.52       0.76     11.2        6
1596  0.99574  3.42       0.75     11.0        6
1597  0.99547  3.57       0.71     10.2        5
1598  0.99549  3.39       0.66     11.0        6

[1599 rows x 5 columns]

We can also use these methods for setting values.

In [50]:
df = pd.DataFrame({
    'x': [1, 2, 3],
    'y': [4, 5, 6]
})

In [51]:
df

   x  y
0  1  4
1  2  5
2  3  6

In [52]:
# Change 1 to -1
df.iloc[0, 0] = -1

In [53]:
df

   x  y
0 -1  4
1  2  5
2  3  6

In [54]:
# Double second row
df.iloc[1] *= 2

In [55]:
df

   x   y
0 -1   4
1  4  10
2  3   6

We can also extract columns using regular square brackets (just like a list or dictionary) using label-based indexing.

In [56]:
# pH column
wine['pH']

0       3.51
1       3.20
2       3.26
3       3.16
4       3.51
        ...
1594    3.45
1595    3.52
1596    3.42
1597    3.57
1598    3.39
Name: pH, Length: 1599, dtype: float64

### Series

Unless we force a dataframe to be return using one-element lists, pandas will return either a single value, a series or a new dataframe depending on whether our result is 0, 1, or 2-dimensional.

In [59]:
type(wine['pH'])

pandas.core.series.Series

In [60]:
wine['pH']

0       3.51
1       3.20
2       3.26
3       3.16
4       3.51
        ...
1594    3.45
1595    3.52
1596    3.42
1597    3.57
1598    3.39
Name: pH, Length: 1599, dtype: float64

A series is a one-dimensional array with axis labels. We can use `.loc` and `iloc` on series but only need to specify a single input. We can also use standard square brackets using either labels or integers.

It is important to note that subsetting in pandas copies by reference, not by value (unless you use the `.copy()` method).

In [61]:
df = pd.DataFrame({
    'x': [1, 2, 3],
    'y': [4, 5, 6]
})

x = df['x']
y = df['y'].copy()

x[1] = 0
y[1] = 0

df

   x  y
0  1  4
1  0  5
2  3  6

> See also: `.at` and `.iat` in [the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html)

### Filtering

`loc`, `iloc` and `[]` can also accept Boolean vectors, returning only rows/columns that correspond to a true value

In [67]:
# Select rows with ph greater than 2.9
wine['pH'] > 2.9
wine.loc[wine['pH'] > 2.9]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [70]:
# Select only decimal columns
wine.loc[:, wine.dtypes == 'float64']

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

A useful helper is the `isin()` series method.

In [73]:
# Select wines of quality 3, 5, 6
wine.loc[wine['quality'].isin([3, 5, 6])]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

You can combine Boolean vectors using Boolean operators. The notation we use in pandas is different to in base Python however:
- Use `&` for `and`
- Use `|` for `or`
- Use `~` for `not`

We could use this to drop columns with certain names (I'll leave this as a puzzle), but there is a better way using the `.drop` method.

In [74]:
wine.drop(['citric acid', 'residual sugar'], axis=1)

,fixed acidity,volatile acidity,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

## Data Manipulation

### Sorting

We can sort a pandas dataframe using the `sort_values` method. This sorts either columns or rows depending on the specified axis. If a single label is provided the dataframe is sorted using that row/column. If a list is provided, the latter labels are used to break ties.

In [75]:
# Sort first by quality then by alcohol
wine.sort_values(['quality', 'alcohol'])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
517,10.4,0.610,0.49,2.1,0.200,5.0,16.0,0.99940,3.16,0.63,8.4,3
459,11.6,0.580,0.66,2.2,0.074,10.0,47.0,1.00080,3.25,0.57,9.0,3
1469,7.3,0.980,0.05,2.1,0.061,20.0,49.0,0.99705,3.31,0.55,9.7,3
1374,6.8,0.815,0.00,1.2,0.267,16.0,29.0,0.99471,3.32,0.51,9.8,3
832,10.4,0.440,0.42,1.5,0.145,34.0,48.0,0.99832,3.38,0.86,9.9,3
...,...,...,...,...,...,...,...,...,...,...,...,...
390,5.6,0.850,0.05,1.4,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8
1120,7.9,0.540,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8
455,11.3,0.620,0.67,5.2,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8
588,5.0,0.420,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
1269,5.5,0.490,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8

In [78]:
# Sort by descending density
wine.sort_values('density', ascending = False)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1434,10.2,0.540,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,6
1435,10.2,0.540,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,6
442,15.6,0.685,0.76,3.7,0.100,6.0,43.0,1.00320,2.95,0.68,11.2,7
554,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
555,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
837,6.7,0.280,0.28,2.4,0.012,36.0,100.0,0.99064,3.26,0.39,11.7,7
836,6.7,0.280,0.28,2.4,0.012,36.0,100.0,0.99064,3.26,0.39,11.7,7
1114,5.0,0.400,0.50,4.3,0.046,29.0,80.0,0.99020,3.49,0.66,13.6,6
1018,8.0,0.180,0.37,0.9,0.049,36.0,109.0,0.99007,2.89,0.44,12.7,6
1017,8.0,0.180,0.37,0.9,0.049,36.0,109.0,0.99007,2.89,0.44,12.7,6

> See the `key` parameter in [the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) for more flexible sorts

> Most of the methods we've used come with an `inplace` parameter, which when set to `True` will perform the operation directly on the data rather than returning a modified data frame. This is useful is some cases but prevents you from chaining together methods.

### Creating and Overwriting Columns

We can create new columns using square brackets, providing a column name that doesn't already exist. If the column does exist, it's value will be overwritten.

Operations are _vectorised_ meaning they act on an element-by-element basis.

In [79]:
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [85]:
# Calculate non-free sulfur dioxide
wine['non-free sulfur dioxide'] = wine['total sulfur dioxide'] - wine['free sulfur dioxide']

In [82]:
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,non-free sulfur dioxide
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,23.0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,42.0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,39.0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,43.0
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,12.0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,12.0
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,12.0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,24.0

In [86]:
# Replace density with grams/litre
wine['density'] *= 1000

In [87]:
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,non-free sulfur dioxide
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,997.80,3.51,0.56,9.4,5,23.0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,996.80,3.20,0.68,9.8,5,42.0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,997.00,3.26,0.65,9.8,5,39.0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,998.00,3.16,0.58,9.8,6,43.0
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,997.80,3.51,0.56,9.4,5,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,994.90,3.45,0.58,10.5,5,12.0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,995.12,3.52,0.76,11.2,6,12.0
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,995.74,3.42,0.75,11.0,6,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,995.47,3.57,0.71,10.2,5,12.0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,995.49,3.39,0.66,11.0,6,24.0

If a single value is used, it will fill the entire column.

In [88]:
# Add column of zeros
wine['zeros'] = 0

### Creating Summarises

Pandas allows you to create summaries of rows, columns or series. Some common methods for this are `mean`, `min`, `max`, `median`, `mode`, `std`, `var`, `sum`. These are more useful when we have grouped data, which we will introduce in the project session.

In [89]:
# Average of all columns
wine.mean()

fixed acidity                8.319637
volatile acidity             0.527821
citric acid                  0.270976
residual sugar               2.538806
chlorides                    0.087467
free sulfur dioxide         15.874922
total sulfur dioxide        46.467792
density                    996.746679
pH                           3.311113
sulphates                    0.658149
alcohol                     10.422983
quality                      5.636023
non-free sulfur dioxide     30.592871
zeros                        0.000000
dtype: float64

In [91]:
# Maximum value of each row
wine.max(axis=1)

0       997.80
1       996.80
2       997.00
3       998.00
4       997.80
         ...
1594    994.90
1595    995.12
1596    995.74
1597    995.47
1598    995.49
Length: 1599, dtype: float64

In [92]:
# Standard deviation of pH
wine['pH'].std()

0.15438646490354266

Pandas also offers two useful Boolean reduction functions, `all` and `any`, return `True` if all or any of the values in the series they are applied to is `True`, respectively. They can also be applied to dataframes, in which case they act on each column independently.

In [94]:
# Are any pH values less than 3?
(wine['pH'] < 3).any()

True

In [99]:
# Are all values in the dataset non-negative?
(wine >= 0).all().all()

True

Recalling back to Beginner's Python, we saw that `True`/`False` convert to 1/0 when cast as integers. We can use this to count and obtain proportions of true values.

In [103]:
# How many 5-quality wines are there?
((wine['quality']) > 5).sum()

855

In [104]:
# What proportion of wines are 5-quality?
((wine['quality']) > 5).mean()

0.5347091932457786

## Wrapping Up

### Writing to CSVs

We can write a dataframe to a CSV using the `to_csv` method, passing in a file path. There are many parameters found in the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html), but the most commonly used is `index=False` to avoid saving row numbers (which can make it harder for other programs to read).

In [105]:
wine.sample(5).to_csv('wine_sample.csv', index=False)

Note, this will overwrite any existing file without warning.

### Other IO tools

Pandas is capable of reading from and writing to a large number of of file types. A list a corresponding documentation can be found [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html).

In [107]:
# Swap columns
wine2 = wine[['pH'] + [c for c in wine.columns if c != 'pH']]
wine2

,pH,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality,non-free sulfur dioxide,zeros
0,3.51,7.4,0.700,0.00,1.9,0.076,11.0,34.0,997.80,0.56,9.4,5,23.0,0
1,3.20,7.8,0.880,0.00,2.6,0.098,25.0,67.0,996.80,0.68,9.8,5,42.0,0
2,3.26,7.8,0.760,0.04,2.3,0.092,15.0,54.0,997.00,0.65,9.8,5,39.0,0
3,3.16,11.2,0.280,0.56,1.9,0.075,17.0,60.0,998.00,0.58,9.8,6,43.0,0
4,3.51,7.4,0.700,0.00,1.9,0.076,11.0,34.0,997.80,0.56,9.4,5,23.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,3.45,6.2,0.600,0.08,2.0,0.090,32.0,44.0,994.90,0.58,10.5,5,12.0,0
1595,3.52,5.9,0.550,0.10,2.2,0.062,39.0,51.0,995.12,0.76,11.2,6,12.0,0
1596,3.42,6.3,0.510,0.13,2.3,0.076,29.0,40.0,995.74,0.75,11.0,6,11.0,0
1597,3.57,5.9,0.645,0.12,2.0,0.075,32.0,44.0,995.47,0.71,10.2,5,12.0,0
1598,3.39,6.0,0.310,0.47,3.6,0.067,18.0,42.0,995.49,0.66,11.0,6,24.0,0

In [110]:
wine2.insert(1, 'ones', wine['pH'] * 2)

ValueError: cannot insert ones, already exists

In [109]:
wine2

,pH,ones,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality,non-free sulfur dioxide,zeros
0,3.51,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,997.80,0.56,9.4,5,23.0,0
1,3.20,1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,996.80,0.68,9.8,5,42.0,0
2,3.26,1,7.8,0.760,0.04,2.3,0.092,15.0,54.0,997.00,0.65,9.8,5,39.0,0
3,3.16,1,11.2,0.280,0.56,1.9,0.075,17.0,60.0,998.00,0.58,9.8,6,43.0,0
4,3.51,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,997.80,0.56,9.4,5,23.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,3.45,1,6.2,0.600,0.08,2.0,0.090,32.0,44.0,994.90,0.58,10.5,5,12.0,0
1595,3.52,1,5.9,0.550,0.10,2.2,0.062,39.0,51.0,995.12,0.76,11.2,6,12.0,0
1596,3.42,1,6.3,0.510,0.13,2.3,0.076,29.0,40.0,995.74,0.75,11.0,6,11.0,0
1597,3.57,1,5.9,0.645,0.12,2.0,0.075,32.0,44.0,995.47,0.71,10.2,5,12.0,0
1598,3.39,1,6.0,0.310,0.47,3.6,0.067,18.0,42.0,995.49,0.66,11.0,6,24.0,0